*{
box-sizing: border-box;
}

body{
	background:url(../img/font.jpg) no-repeat;
	background-size: 100%;
	font: 14px 'Verdana', sans-serif;
}

ul { 
margin: 0; 
padding: 0; 
list-style: none;  
}


.conteiner {
	width: 1000px;
	margin: 0 auto;
	background: white;
	box-shadow: 0 10px 20px #000;

}

.header {
	padding: 35px 40px 0;
	background: white;
}

.wrapper {
	float: right;
}

.information {
	margin-top: -30px;
	padding-left: 200px;
	color: blue;
	font-size: 11px;
}

.contries {
margin-top: 70px;
}
.contries li {
	float: left;
}
.contries:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.contries li a {
	background: no-repeat;
background-position: center;
	padding: 60px 7px 0;
	text-decoration: underline;
	color: blue;
	font-size: 11px;
}
.contries .india a { 
background-image: url(../img/india.png); 

} 
.contries .nepal a { 
background-image: url(../img/nepal.png); 
} 
.contries .tibet a { 
background-image: url(../img/tibet.png); 

} 
.contries .bhutan a { 
background-image: url(../img/bhutan.png); 

} 

.contries .shri-lanka a { 
background-image: url(../img/sri-lanka.png); 
} 

.contries .maldives a { 
background-image: url(../img/maldives.png); 
}


.picture {
	margin-top: -2px;
}

.menu {
	background-color: #333333; 
height: 35px; 
}

.menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}
.menu ul li {
	display: inline-block;
	background-color: #333333;
	width: 138px;
	text-align: center;
}
.menu a {
	display: block;

	color: white;
	font-size: 14px;
	line-height: 35px;
	text-decoration: none;
}
.menu a:hover {
	background-color: #333333;

}
.menu ul ul {
	display: none;
	position: absolute;
	border-top: 1px solid black;
	box-shadow: 0 0 10px #000;
margin-left: -69px;
}
.menu ul li:hover ul {
display: inline-block;
}
.menu ul ul li {
	width: 138px;
	float: none;
	display: block;
	position: relative;
}
.content{
	width: 100%;
	overflow: hidden;
    font-family: 'Tahoma','Arial', sans-serif;
        color: #343434;
}

.lcontent{
	float: left;
	width: 23%;
	background: #eee;
	padding: 0px 20px;
	border-right: 1px solid #999;
	padding-bottom: 20000px;
    margin-bottom: -20000px;
}

.rcontent{
	float: right;
	width: 23%;
	background: #eee;
	padding: 0px 20px;
	border-left: 1px solid #999;
	padding-bottom: 20000px;
    margin-bottom: -20000px;
}

.footer{
	text-align: center;
	color: #ccc;
	margin-top: 10px;
	font-family: 'Tahoma','Arial', sans-serif;
	font-size: 14px;
}