*{
box-sizing: border-box;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('helveticaneue-thin-webfont.woff2') format('woff2'),
         url('helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	background: url(../img/fon.jpg) no-repeat;
	background-size: 100%;
	font-family: "Helvetica Neue", Tahoma, Arial, sans-serif;
}

.menu {
	text-align: right;
margin: -16px -8px 0px -8px;
	height: 40px;
}
.menu ul {
	background-color: #074f8d;
    padding-right: 360px;
}
.menu li {
	display: inline-block;
    padding: 10px;
}

.menu a {
	text-decoration: none;
	color: #60b5ed;
}
.menu a:hover {
	color: white;
	background-color: #4eabda;
	padding: 11px 10px;
}
.other {
	margin-top: -36px;
	text-align: right;
	color: white;
}

span.line {
	border-left: 1px solid #4eabda;
    padding-left: 15px;

}
button.checkin {
	margin-right: 20px;
	margin-left: 10px;
	margin-top: -67px;
	padding: 15px 10px 9px;
	background: #307dc6;
	border: none;
	color: white;
	text-decoration: underline;

}
.banner {
	background-color: rgba(0, 0, 0, 0.5);
	height: 60px;
	width: 420px;
	position: fixed;
	top: 25%;
	left: 35%;

}

.data {
	background-color: rgba(0, 0, 0, 0.5);
	height: 419px;
	width: 420px;
	position: fixed;
	top: 35%;
	left: 35%;
	padding-top: 20px;
	margin-top: -5px;

}

.text {
	color: white;
	text-align: center;
}

.h1 {
	font-size: 16px;
}

.colortext {
	background: black;
	border: none;
}
input[type="entry"]{
	padding: 13px;
	color: white;
}
input[type="password"]{
	padding: 13px;
	color: white;
}
input.colortext {
	width: 200px;
	height: 30px;
}
input.colortext:focus {
	background-color: #1b5288;
    box-shadow: 0 0 20px rgb(138,173,208);
}

button.click {
    padding: 7px 15px;
    border-radius: 5px;
background: #449dd4;
border-color: #449dd4;
color: 	white;
   }

.text {
	font-size: 12px;
    margin: 20px;
}

